{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/lista-producto.css' %}">
</head>
<body>
    

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg col-12">
    <div class="container-fluid">
        <img class = "logo ms-2 me-2" src="{% static 'images/logo-empresa.webp '%}" alt="...">
        <a class="navbar-brand p-3 ms-3" href="{% url 'index.html' %}">Pc max</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <!--Links-->
            <li class="nav-item ">
                <a class="nav-link mx-2 p-3" href="{% url 'Registro_cliente' %}">Registro</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link mx-2 p-3" href="">Carro</a>
            </li>
            
            <li class="nav-item ">
                <a class="nav-link mx-2 p-3" href="{% url 'raw_product_list' %}">Productos</a>
            </li>

            
            <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle mx-2 p-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorias
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
            </li>
        </ul>
        </div>

    </div>
</nav>

<!--  Ofertas  -->
<section class="ofertas-padre my-5 col-11 mx-auto">
    <div >
        <h2 class="titulo text-center py-5">Las mejores {{ product.categoria }} del mercado</h2>
        <h4 class = "sub-titulo text-center ">No te pierdas de estos increibles productos solo por hoy</h4>
    </div>

    <div class="card-group py-5 ">
        <!-- card 1 -->
        <div class="container ">
            <div class="div-hijo  row">

                {% for product in products %}
                <div class="mx-auto col-10 col-sm-8 col-md-6 col-lg-5">
                    <div class="card my-2">
                        {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top mx-auto" alt="{{ product.name }}">
                        {% endif %}
                            <div class="card-body">
                                <h5 class="card-title col-8 py-2 ps-1  mx-auto text-center">{{ product.name }}</h5>
                                <p class="card-text-1">{{ product.description }}</p>
                                <p class="card-text-2 col-6 mx-auto text-center">Precio: ${{ product.price }}</p>
                                <p class="card-text-3 col-3 mx-auto">Stock: {{ product.stock }}</p>
                                <div class="mx-auto">
                                    <!--si el usuario quiere agregar un producto al carro debera ingresar sus datos-->
                                    <div class="col-6 mx-auto text-center">
                                        <a class="btn boton-producto px-5 " href="{% url 'Carro_compra' product.pk %}">Carro</a>
                                    </div>

                                </div>
                            </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</section>


<hr class="col-10 mx-auto">


<!-- FOOTER  -->
<footer class = "col-12 mt-5">
    <div class="div-footer ">
        <div class = "col-3 ms-auto my-5">
                <h4 class = "">Contáctanos</h4>
                <div class="col-6 hr-decoracion mb-5"></div>
                    <h6>Servicio al cliente 1</h6>
                    <img class ="img-wsp-footer" src="{% static './images/whatsapp.png '%}" alt="">
                    <p class="nro-wsp"> +56 982029193</p>
                    <h6>Servicio al cliente 2</h6>
                    <img class ="img-wsp-footer" src="{% static './images/whatsapp.png '%}" alt="">
                    <p class="nro-wsp">+56 933669775</p>
                    <h6>Envianos un correo por</h6>
                    <p>br.casas@duocuc.cl</p>
                    
                <p>Siguenos en:</p>
                <a class="hover-redes-footer px-1 py-2" href="https://wa.me/56933668775">
                    <img class="img-redes-footer "  src="{% static './images/whatsapp.png '%}" alt="">
                </a>
                <a class="hover-redes-footer px-1 py-2" href="https://www.instagram.com/brandonluis_1/">
                    <img class="img-redes-footer " src="{% static './images/instagram.png'%}" alt="">
                </a>
                <a class="hover-redes-footer px-1 py-2" href="https://www.facebook.com/plazadelatecnologia?locale=es_LA">
                    <img class="img-redes-footer "  src="{% static './images/icons-facebook.png '%}" alt="">
                </a>
        </div>
        <div class = "col-3 mx-auto my-5" >
            <h4>Ayuda</h4>
            <div class="col-6 hr-decoracion mb-5"></div>
            <p>Como esta mi envio</p>
            <p>Servicio</p>
            <p>Otros servicios</p>
            <p>Preguntas frecuentes</p>
        </div>

        <div class = "col-3 ms-1 my-5" >
            <h4>Acerca de nosotros</h4>
            <div class="col-6 hr-decoracion mb-5"></div>
            <p>Conoce nuestra historia</p>
            <p>Politicas y privacidad</p>
        </div>
        
    </div>
    <div class ="col-10 mx-auto text-center">
        <h6 class = " py-5">Copyright © 2024 Todos los derechos reservados por la empresa y las politicas necesarias para conformar nuestro sitio web. esta prohibido la copia de esta pagina web segun la ley 17336.</h6>    
    </div>
</footer>


</body>
</html>

