{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
</head>
<body>

    <!--<img src="{% static 'images/linkIMG' %}" class="imagen-fondo   w-100 " alt="...">-->

<section class = "formulario-padre col-10 mx-auto">
    <div class="fromulario-hijo col-12 mx-auto ">
        <!--DIV 1-->
        <div class="div-1 col-6 ms-auto">
            <img src="{% static './images/HERO-OFICIAL.jpg '%}" class="col-12 img-registro" alt="...">
                <h3 class="mensaje-login ">¡Te damos la bienvenida!</h3>
                <p class="mensaje-login-2  ">Acceda por aquí si ya se ha registrado.</p>
                <a class  ="boton-login  px-5" href="{% url 'inicio_sesion.html' %}">Inicio sesion</a>
                <a class  ="boton-home  px-5" href="{% url 'index.html' %}">home</a>

        </div>
        <!--DIV 2-->
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
            <!-- COMIENZO FORMULARIO -->
                <form id="miFormulario" class ="col-12">
                    <div class = "mx-auto">
                        <h1 class="titulo text-center py-4">Crea una cuenta nueva</h1>
                        <p class="sub-titulo text-center py-1" id="validar">No olvides que debes ingresar una contraseña segura para mantener la seguidad de tu cuenta</p>
                    </div>
                    <div class="body-formulario col-11 col-sm-9 col-md-8 col-lg-8 my-4 mx-auto">
                        
                        <div class="mb-3 col-10 mx-auto ">
                            <label class="form-label mt-3">Nombre de usuario</label>
                            <input type="text" class="form-control" id="nombre" aria-describedby="nombreHelp" placeholder="usuario">
                        </div>
                        <div class="mb-3 col-10 mx-auto">
                            <label  for="exampleInputEmail1" class="form-label">Ingresa tu gmail</label>
                            <input type="email" class="form-control" id="correo" aria-describedby="emailHelp" placeholder="usuario@gmail.com">
                        </div>
                        <div class="mb-3 col-10 mx-auto pb-2">
                            <label for="exampleInputPassword1 " class="form-label">Contraseña</label>
                            <input type="password" class="form-control mb-3" id="contraseña" placeholder="**********">
                        </div>
                        <a class="link-a-cuenta-creada" href="{% url 'inicio_sesion.html' %}">¿Ya tienes una cuenta creada?</a>
                            <!-- boton submit-->
                        <div class = "div-footer-formulario col-12 mx-auto ">
                            <button type="submit" class="boton-registro px-4 py-2 mb-4 mx-auto">Crear cuenta</button>
                        </div>
                    </div>
                    
                </form>
            <!-- FIN FORMULARIO-->
        </div>
    </div>
</section>

<script src="{% static 'js/validacion-formulario.js' %}"></script>

</body>
</html>

